DATASET_RAW = "dataset_raw"
DATASET_TRUSTED = "dataset_trusted"
DATASET_ANALYTICS = "dataset_analytical"
TABLE_STAGING_IMOVEIS = f"{PROJECT_ID}.{DATASET_RAW}.stg_table"
TABLE_TRUSTED_IMOVEIS = f"{PROJECT_ID}.{DATASET_TRUSTED}.dm_imoveis"
